body{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1{
  color: rgb(122, 45, 47);
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  border: 1px dotted #ae7d93;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.second-container {
  width: 750px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* 10 boxes */

#rectangle-1 {
float: left;
height: 70px;
width: 140px;
background-color: #cc80af;
margin: 0 .5% 25px .5%;
}

#rectangle-2 {
float: left;
height: 70px;
width: 140px;
background-color: #d6c551;
margin: 0 .5% 25px .5%;
}

#rectangle-3 {
float: left;
height:70px;
width:140px;
background-color: #560a2e;
margin: 0 .5% 25px .5%;
}

#rectangle-4 {
float: left;
height: 70px;
width: 140px;
background-color: #334462;
margin: 0 .5% 25px .5%;
}

#rectangle-5 {
float: left;
height: 70px;
width: 140px;
background-color: rgb(140, 139, 139);
margin: 0 .5% 25px .5%;
}

#rectangle-6 {
float: left;
height: 70px;
width: 140px;
background-color: #c4c8c9;
margin: 0 .5% 25px .5%;
}

#rectangle-7 {
float: left;
height: 70px;
width: 140px;
background-color: #d9b698;
margin: 0 .5% 25px .5%;
}

#rectangle-8 {
float: left;
height: 70px;
width: 140px;
background-color: #71afc8;
margin: 0 .5% 25px .5%;
}

#rectangle-9 {
float: left;
height: 70px;
width: 140px;
background-color: #dd86b9;
margin: 0 .5% 25px .5%;
}

#rectangle-10 {
float: left;
height: 70px;
width: 140px;
background-color: #83446f;
margin: 0 .5% 25px .5%;
}


footer {
  position: relative;
  top: 200px;
  right: 525px;
}

p:hover{
  color: #ae7d93;
}
